@import url(./__item/__item.css);

.nav-menu {
    height: 100%;
}

.nav-menu ul{
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}